---
layout: default
---
{% include bio.html %}
<div class="wrapper" id="latest-posts">
  <div><h2>// latest posts</h2></div>
  {% for post in site.posts limit:1 %}
    {% include content_feed.html post=post %}
  {% endfor %}
  {% for post in site.categories.blog limit: 1%}
    {% include post-tile.html post=post %}
  {% endfor %}
  {% for post in site.categories.bookworm limit: 1%}
    {% include post-tile.html post=post %}
  {% endfor %}
  {% for post in site.categories.whims limit: 1%}
    {% include post-tile.html post=post %}
  {% endfor %}
</div>
{% include newsletter_header.html %}
<div class="posts" id="home">
  <div class="posts-section"><h2>// articles</h2></div>
	{% for post in site.categories.blog limit:12 %}
	    {% include post-tile.html post=post %}
	{% endfor %}
  <div class="posts-section"><h2>// bookworm</h2></div>
	{% for post in site.categories.bookworm limit:12 %}
	    {% include post-tile.html post=post %}
	{% endfor %}
  <div class="posts-section"><h2>// whims that work</h2></div>
	{% for post in site.categories.whims limit:12 %}
	    {% include post-tile.html post=post %}
	{% endfor %}
</div>
