<div class="header-bar">
  <a href="/">
    <div class="header-tree">
        <img src="{{ site.baseurl }}/assets/base/header_tree.svg" height=150 width=215/>
    </div>
    <div class="header-title">
      <img src="{{ site.baseurl }}/assets/base/header_title.svg" height=45 />
    </div>
  </a>
  <div class="header-desc">
    <div class="header-desc-inner">
      <img src="{{ site.baseurl }}/assets/base/header_desc.svg" height=20 />
    </div>
  </div>
  <div class="header-line"></div>
  <div class="header-spacer">
    <div class="header-spacer-inner"></div>
  </div>
</div>