<div class="callout">
	<div class="callout-book-cover">
		<a href="http://tools.joebuhlig.com/working-with-omnifocus/">
			<img class="callout-image" src="/assets/base/WorkingWithOmniFocus-Small.png" />
		</a>
	</div>
	<blockquote style="border: 0px; text-align:center;">Stop searching for the right way to use OmniFocus. There isn’t one.</blockquote>
	<p>If you're interested in more detail about my OmniFocus setup, take a look at <a href="http://tools.joebuhlig.com/working-with-omnifocus/">my book on it</a>. I pull back the curtain on the concepts and nuances of OmniFocus and how I work with it.</p>
</div>