{% assign author = site.data.authors[page.author] %}
<div class="sidebar">
	<div class="sidebar-segment newsletter-signup">
		<h2>Newsletter</h2>
		{% include newsletter_form.html width="width400" orientation="ck_vertical" id="274047" %}
	</div>
	<div class="sidebar-segment fusion-ad">
		<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=joebuhligcom" id="_carbonads_js"></script>
	</div>
	<div class="sidebar-segment related-posts">
		<h2>Related Articles</h2>{% assign count = 1 %}{% for post in site.posts %}{% if count <= 3 %}{% if post.url != page.url %}{% for tag in page.tags %}{% if post.tags contains tag %}
      		<div class="related-post clear">
      			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      			<p>{{ post.excerpt }}</p>
      		</div>{% assign count = count | plus:'1' %}{% break %}{% endif %}{% endfor %}{% endif %}{% else %}{% break %}{% endif %}{% endfor %}
			{% if count == 1 %}
			<style>
				.related-posts{
					display: none;
				}
			</style>
			{% endif %}
	</div>
	{% unless page.author == "joe_buhlig" %}
	<div class="sidebar-segment author-details">
		<h2>Author</h2>
		<p>{{ author.name }}</p>
		<p>{{ author.web }}</p>
		<p>{{ author.twitter }}</p>
		<p>{{ author.description }}</p>
	</div>
	{% endunless %}
	<div class="sidebar-segment now">
		<h2>Right Now?</h2>
		<p>You can always see what I'm currently working on by visiting my <a href="http://now.joebuhlig.com">dedicated Now site</a>. Where I spend my time, what I'm reading, and what I'm actively coding can all be <a href="http://now.joebuhlig.com">found here</a>.</p>
	</div>
</div>