<div class="post-series">
<p>This is a series about the productivity framework <strong>Getting Things Done</strong> by David Allen. You can find the entire series at the following links:</p>
<ol>
<li><a href="/getting-things-done-introduction/">Getting Things Done: Introduction</a></li>
<li><a href="/getting-things-done-capture/">Getting Things Done: Capture</a></li>
<li><a href="/getting-things-done-clarify/">Getting Things Done: Clarify</a></li>
<li><a href="/getting-things-done-organize/">Getting Things Done: Organize</a></li>
<li><a href="/getting-things-done-reflect/">Getting Things Done: Reflect</a></li>
<li><a href="/getting-things-done-engage/">Getting Things Done: Engage</a></li>
<li><a href="/getting-things-done-day-life/">Getting Things Done: A Day in the Life</a></li>
</ol>
</div>