<div class="post-series">
<p>This series is about using GTD outside the lines of our day jobs. Yes, it can be used in every aspect of your life.</p>
<ol>
<li><a href="/using-gtd-as-a-homeowner/">Using GTD As A Homeowner</a></li>
<li><a href="/using-gtd-as-a-writer/">Using GTD As A Writer</a></li>
<li><a href="/using-gtd-as-a-husband/">Using GTD As A Husband</a></li>
<li><a href="/using-gtd-as-a-dad/">Using GTD As A Dad</a></li>
<li>Using GTD As A Man</li>
<li>Using GTD As A Woodworker</li>
</ol>
</div>