@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'), url(#{$base-url}/assets/fonts/Cinzel.woff) format('woff');
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, center {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2M8c+bMfxMTE0YGAoCgApj+UYV4Q5Lo4AEAZk8EC7f3uzcAAAAASUVORK5CYII=) repeat;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, table, blockquote, pre,
ul, ol, dl, figure, center,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Audio
 */
audio {
    height: 30px;
    width: 100%;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

ul {
    list-style-type: none;

    li:before {
        content: "\2014\a0";
    }
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-headers;
    font-weight: 300;
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.2em
}
h4 {
    font-size: 1em
}

h5 {
    font-size: 0.7em
}

h6 {
    font-size: 0.5em
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        text-decoration: none;
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    &:hover {
        text-decoration: none;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #ccc;
}

code {
    padding: 1px 5px;
    word-wrap: break-word;
}

pre {
    padding: 8px 12px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 0px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 0px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 0px 0 rgba(0,0,0,0.5);
    overflow: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        background-color: initial;
    }
}

table {
    margin:0px auto 15px auto;
    border-spacing: 0px;
    
    td, th {
        padding: 2px 5px;
    }
    tbody tr:nth-child(odd){
        background-color:#EEEEEE;
        color: #333;
    }
    .header{
        cursor: pointer;
    }
}


/**
 * Wrapper
 */
.wrapper {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.clear {
    clear: both;
}

.center {
    margin: 0px auto;
    text-align: center;
    width: 100%;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
