---
layout: default
---
{% assign author = site.data.authors[page.author] %}
{% if page.style == "dark" %}
  {% assign style = "dark" %}
{% else %}
  {% assign style = "light" %}
{% endif %}
<div class="post-content {{style }}">
	<header class="post-header" style="background-image: url('{{ page.image }}');">
		<div class="header-overlay"></div>
		<div class="meta">
			<h1 class="post-title">{{ page.title }}</h1>
			<p class="post-meta">
				{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ author.name }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • {{ page.content | reading_time }}{% if page.tags %} • {% for tag in page.tags %}<a href="/tag/{{ tag }}">{{ tag }}</a>{% if forloop.index > 0 and page.tags.size != (forloop.index + 1)%}, {% endif %} {% endfor %}{% endif %}
			</p>
		</div>
	</header>
	<div class="post-wrapper">
		<article class="post">
			<div class="article">
				{{ content }}
			</div>
			{% if page.podcast_link %}
				<audio controls>
					<source src="{{ page.podcast_link }}" type="audio/mpeg">
				</audio>
				<div class="podcast-details">
					<p class="post-meta">
						<a href="{{ page.podcast_link }}">Download</a> • {{ page.podcast_file_size }} • {{ page.podcast_duration }}
					</p>
				</div>
			{% endif %}
			<div class="page-navigation">
				{% if page.categories contains 'blog' %}
					{% if page.previous.categories contains 'blog' %}
						<a class="prev-page" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
					{% elsif page.previous.previous.categories contains 'blog' %}
						<a class="prev-page" href="{{page.previous.previous.url}}">&laquo; {{page.previous.previous.title}}</a>
					{% elsif page.previous.previous.previous.categories contains 'blog' %}
						<a class="prev-page" href="{{page.previous.previous.previous.url}}">&laquo; {{page.previous.previous.previous.title}}</a>
					{% elsif page.previous.previous.previous.previous.categories contains 'blog' %}
						<a class="prev-page" href="{{page.previous.previous.previous.previous.url}}">&laquo; {{page.previous.previous.previous.previous.title}}</a>
					{% endif %}
					{% if page.next.categories contains 'blog' %}
						<a class="next-page" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
					{% elsif page.next.next.categories contains 'blog' %}
						<a class="next-page" href="{{page.next.next.url}}">{{page.next.next.title}} &raquo;</a>
					{% elsif page.next.next.next.categories contains 'blog' %}
						<a class="next-page" href="{{page.next.next.next.url}}">{{page.next.next.next.title}} &raquo;</a>
					{% elsif page.next.next.next.next.categories contains 'blog' %}
						<a class="next-page" href="{{page.next.next.next.next.url}}">{{page.next.next.next.next.title}} &raquo;</a>
					{% endif %}
				{% elsif page.categories contains 'podcast' %}
					{% if page.previous.categories contains 'podcast' %}
						<a class="prev-page" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
					{% elsif page.previous.previous.categories contains 'podcast' %}
						<a class="prev-page" href="{{page.previous.previous.url}}">&laquo; {{page.previous.previous.title}}</a>
					{% elsif page.previous.previous.previous.categories contains 'podcast' %}
						<a class="prev-page" href="{{page.previous.previous.previous.url}}">&laquo; {{page.previous.previous.previous.title}}</a>
					{% elsif page.previous.previous.previous.previous.categories contains 'podcast' %}
						<a class="prev-page" href="{{page.previous.previous.previous.previous.url}}">&laquo; {{page.previous.previous.previous.previous.title}}</a>
					{% endif %}
					{% if page.next.categories contains 'podcast' %}
						<a class="next-page" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
					{% elsif page.next.next.categories contains 'podcast' %}
						<a class="next-page" href="{{page.next.next.url}}">{{page.next.next.title}} &raquo;</a>
					{% elsif page.next.next.next.categories contains 'podcast' %}
						<a class="next-page" href="{{page.next.next.next.url}}">{{page.next.next.next.title}} &raquo;</a>
					{% elsif page.next.next.next.next.categories contains 'podcast' %}
						<a class="next-page" href="{{page.next.next.next.next.url}}">{{page.next.next.next.next.title}} &raquo;</a>
					{% endif %}
				{% endif %}
			</div>
		</article>

		{% include post_sidebar.html %}

		<div class="clear"></div>

		{% if jekyll.environment == "production" %}
		<div id='discourse-comments'></div>
		<script type="text/javascript">
		  DiscourseEmbed = { discourseUrl: 'http://discussion.joebuhlig.com/',
		                     discourseEmbedUrl: '{{site.url}}{{page.url}}' };

		  (function() {
		    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
		    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
		  })();
		</script>
		{% endif %}
		
	</div>
</div>